#header{
  background-image: url("./images/headerBg.jpg");
  background-size: cover
}

@media only screen and (max-width: 960px) {
  #header{
    background-image: linear-gradient(rgba(255,255,255, 0.7),rgba(255,255,255, 0.7)), url("./images/headerBg.jpg");
    background-size: cover;
  }
}
