html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", "sans - serif";
  font-size: 13px;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 600px) {
  html,
  body {
    font-size: 9.5px;
  }
}

/******************* footer icon ****************/
.icon {
  cursor: pointer;
  font-size: 1.75rem;
  color: #888;
  margin: 0 2rem;
  cursor: "pointer";
  transition: color 0.2s;
}

.ion-logo-facebook:hover {
  color: #3b5998;
}
.ion-logo-twitter:hover {
  color: #00aced;
}
.ion-logo-instagram:hover {
  color: #cd486b;
}
